<div class="modal fade" id="addNew">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <pre>{{ emp | json }}</pre> -->
                <h3>{{ emp.id ? "Update" : "Add New" }} Employee</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Full Name</label>
                    <input type="Text" [(ngModel)]="emp.name" class="form-control" />
                </div>
                <div class="form-group">
                    <label>City</label>
                    <select class="form-control" [(ngModel)]="emp.city">
                        <option value="">Select</option>
                        <option value="indore">Indore</option>
                        <option value="ujjain">Ujjain</option>
                        <option value="mumbai">Mumbai</option>
                        <option value="mhow">Mhow</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Salary</label>
                    <input type="Text" class="form-control" [(ngModel)]="emp.salary"/>
                </div>
                
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" (click)="add()" data-dismiss="modal">{{ emp.id ? "Update" : "Add" }}</button>
                <button class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
