<h1>this is home page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto velit ducimus at nobis iusto porro officiis nostrum placeat consequatur est illo fuga amet consequuntur accusantium voluptas libero, mollitia aliquid quia.</p>
<br />
<h3>{{ name }}</h3>
<br />
<button class="btn btn-success" (click)="getdata()">Get Data</button>
<br />
<br />
<app-block (childEvent)="hello($event)"></app-block>

<Br />
<Br />
<button class="btn btn-primary" (click)="_helloServ.demo(1000)">Click</button>
