<div class="col-md-8 offset-md-2 mt-4">
    <!-- <pre>{{ stu | json }}</pre> -->
    <div class="card">
        <div class="card-header">
            Add New Student
        </div>
        <div class="card-body">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" [(ngModel)]="stu.name"/>
            </div>
            <div class="form-group">
                <label>Age</label>
                <select class="form-control" [(ngModel)]="stu.age" >
                    <option value="">Select</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                </select>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary" (click)="add()">Add</button>
        </div>
    </div>

    <table class="table table-dark table-hover table-stipped table-bordered">
        <tr>
            <th>S.No.</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
        <tr *ngFor="let d of data; let n = index">
            <td>{{ n+1 }}</td>
            <td>{{ d.name }}</td>
            <td>{{ d.age }}</td>
        </tr>
    </table>

    <!-- <h1 *ngFor="let x of color; let n = index">{{ n }}</h1> -->


</div>
