div{
    height: 300px;
    width: 400px;
    background-color: #850ACE;
    border: 3px solid #000;
}
div img{
    height: 100px;
    width: 100px;
}
div p{
    color: #FFF;
}
div h2{
    color: #FFF;
}