<h2>this is home page</h2>

<h3>{{ name }}</h3>
<h4>{{ age }}</h4>


<h1>{{ obj.name }}</h1>
<!-- Interpolation {{ }} -->
<ul>
    <li *ngFor="let x of arr">{{ x }}</li>
</ul>

<table class="table table-dark table-bordered">
    <tr>
        <th>S.No.</th>
        <th>Name</th>
        <th>Age</th>
        <th>City</th>
    </tr>
    <tr *ngFor="let x of data; let i = index">
        <td>{{ i+1 }}</td>
        <td>{{ x.name }}</td>
        <td>{{ x.age }}</td>
        <td>{{ x.city }}</td>
    </tr>
  
</table>
