<h2>this is home page</h2>

<h3>{{ name }}</h3>
<h4>{{ age }}</h4>


<h1>{{ obj.name }}</h1>
<!-- Interpolation {{ }} -->
<ul>
    <li *ngFor="let x of arr">{{ x }}</li>
</ul>
<h3>{{ name }}</h3>
<input type="text" [(ngModel)]="name" />
<Br />
<Br />
<Br />
Gender : <input type="radio" value="male" [(ngModel)]="gender" /> Male
<input type="radio" value="female" [(ngModel)]="gender" /> Female
<Br />
{{ gender }}
<Br />
<Br />
Select : <select [(ngModel)]="city" >
    <option value="">Select</option>
    <option value="indore">Indore</option>
    <option value="bhopal">Bhopal</option>
    <option value="mumbai">Mumbai</option>
    <option value="pune">Pune</option>
</select> {{ city }}
<Br />
<Br />

<!-- [(ngModel)] come only with in html <form>
    text, password, radio, checkbox, select option, textarea    




-->
<br />
<table class="table table-dark table-bordered">
    <tr>
        <th>S.No.</th>
        <th>Name</th>
        <th>Age</th>
        <th>City</th>
    </tr>
    <tr *ngFor="let x of data; let i = index">
        <td>{{ i+1 }}</td>
        <td>{{ x.name }}</td>
        <td>{{ x.age }}</td>
        <td>{{ x.city }}</td>
    </tr>
  
</table>
