<div class="modal fade" id="delEmp">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Delete Employee</h2>
            </div>
            <div class="modal-body">
                <p>Are you sure want to delete <b>{{ emp.name }}</b></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" (click)="delete()">Delete</button>
                <button class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

</div>
