<div class="row">
    <div class="col-md-8 offset-md-2">
        <Br />
        <Br />
        <button class="btn btn-success" data-target="#addModal" data-toggle="modal" (click)="clear()">Add Student</button>
        <Br />
        <Br />
        <table class="table table-dark table-bordered">
            <tr>
                <th>S.No.</th>
                <th>Name</th>
                <th>Age</th>
                <th>Edit</th>
            </tr>
            <tr *ngFor="let s of stuData; let i = index">
                <td>{{ i+1 }}</td>
                <td>{{ s.name }}</td>
                <td>{{ s.age }}</td>
                <td><button class="btn btn-info" data-target="#addModal" data-toggle="modal" (click)="askEdit(s)">Edit</button></td>
            </tr>
        </table>
    </div>
</div>


<app-add 
    [stu]="stu"
    (myEvent)="add($event)"
></app-add>